body {
  background-color: #D2B4DE;
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, seriff;
  
}

header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    z-index: 100;
    display: block;
    position: fixed;
    
}


nav {
    float: right;
  }


nav ul {
    list-style: none;
    overflow: hidden; 
  }


nav ul li {
    float: left;
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, seriff;;
    font-size: 20px;
  }

nav ul li a {
    display: block; 
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }

.img--icono {
  float: left;
  height: 50px;
  width: 50px;
  text-align: left;
}


.carrusel-principal {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  position: relative;
}

.carrusel-principal img {
  height: auto;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;

}

.galeria-principal {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}

.galeria-principal .galeria-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
